# From .gitignore
node_modules
.DS_Store
ops
bin
*.tgz
*.xst
zod*
vere-*
*.pill
/rube/zod/
/rube/bus/
/rube/urbit
gha-creds-*
.turbo
tsconfig.tsbuildinfo
launch.json
expo-env.d.ts
.expo
apps/tlon-web/playwright-dev.log
apps/tlon-web/.playwright-dev.pid
dump.sqlite3
.claude
.gitattributes
clurd/
# From apps/tlon-desktop/.gitignore
/apps/tlon-desktop/build/
/apps/tlon-desktop/dist/
/apps/tlon-desktop/out/
/apps/tlon-desktop/release/
/apps/tlon-desktop/**/*.tsbuildinfo
/apps/tlon-desktop/src/preload/preload.js
/apps/tlon-desktop/node_modules/
/apps/tlon-desktop/logs/
/apps/tlon-desktop/**/*.log
/apps/tlon-desktop/**/npm-debug.log*
/apps/tlon-desktop/**/yarn-debug.log*
/apps/tlon-desktop/**/yarn-error.log*
/apps/tlon-desktop/**/pnpm-debug.log*
/apps/tlon-desktop/**/.env
/apps/tlon-desktop/**/.env.*
!/apps/tlon-desktop/**/.env.example
/apps/tlon-desktop/**/.DS_Store
/apps/tlon-desktop/**/Thumbs.db
/apps/tlon-desktop/**/.idea/
/apps/tlon-desktop/.vscode/*
!/apps/tlon-desktop/.vscode/extensions.json
!/apps/tlon-desktop/.vscode/settings.json
!/apps/tlon-desktop/.vscode/tasks.json
!/apps/tlon-desktop/.vscode/launch.json
/apps/tlon-desktop/**/*.suo
/apps/tlon-desktop/**/*.ntvs*
/apps/tlon-desktop/**/*.njsproj
/apps/tlon-desktop/**/*.sln
/apps/tlon-desktop/**/*.sw?
/apps/tlon-desktop/electron-builder.yml
/apps/tlon-desktop/**/*.blockmap
/apps/tlon-desktop/**/*.exe
/apps/tlon-desktop/**/*.dmg
/apps/tlon-desktop/**/*.zip
/apps/tlon-desktop/**/*.deb
/apps/tlon-desktop/**/*.rpm
/apps/tlon-desktop/**/*.AppImage
/apps/tlon-desktop/**/.chrome/
/apps/tlon-desktop/**/.tmp/
/apps/tlon-desktop/**/.temp/
# From apps/tlon-mobile/.gitignore
/apps/tlon-mobile/ios/assets/*
/apps/tlon-mobile/ios/Landscape.xcworkspace/xcshareddata/swiftpm
/apps/tlon-mobile/**/.tamagui
/apps/tlon-mobile/**/tailwind.css
/apps/tlon-mobile/**/tailwind.json
/apps/tlon-mobile/**/.DS_Store
/apps/tlon-mobile/**/.AppleDouble
/apps/tlon-mobile/**/.LSOverride
/apps/tlon-mobile/**/Icon
/apps/tlon-mobile/**/._*
/apps/tlon-mobile/**/.DocumentRevisions-V100
/apps/tlon-mobile/**/.fseventsd
/apps/tlon-mobile/**/.Spotlight-V100
/apps/tlon-mobile/**/.TemporaryItems
/apps/tlon-mobile/**/.Trashes
/apps/tlon-mobile/**/.VolumeIcon.icns
/apps/tlon-mobile/**/.com.apple.timemachine.donotpresent
/apps/tlon-mobile/**/.AppleDB
/apps/tlon-mobile/**/.AppleDesktop
/apps/tlon-mobile/**/Network Trash Folder
/apps/tlon-mobile/**/Temporary Items
/apps/tlon-mobile/**/.apdisk
/apps/tlon-mobile/**/*.icloud
/apps/tlon-mobile/**/.DS_*
/apps/tlon-mobile/**/*.log
/apps/tlon-mobile/**/logs
/apps/tlon-mobile/**/*.backup.*
/apps/tlon-mobile/**/*.back.*
/apps/tlon-mobile/**/node_modules
/apps/tlon-mobile/**/bower_components
/apps/tlon-mobile/**/*.sublime*
/apps/tlon-mobile/**/psd
/apps/tlon-mobile/**/thumb
/apps/tlon-mobile/**/sketch
/apps/tlon-mobile/**/.expo
/apps/tlon-mobile/**/__generated__
/apps/tlon-mobile/**/xcuserdata/
/apps/tlon-mobile/**/*.xcscmblueprint
/apps/tlon-mobile/**/*.xccheckout
/apps/tlon-mobile/**/.gradle
/apps/tlon-mobile/**/build/
!/apps/tlon-mobile/src/**/build/
/apps/tlon-mobile/**/gradle-app.setting
!/apps/tlon-mobile/**/gradle-wrapper.jar
!/apps/tlon-mobile/**/gradle-wrapper.properties
/apps/tlon-mobile/**/.gradletasknamecache
/apps/tlon-mobile/**/.project
/apps/tlon-mobile/**/.classpath
/apps/tlon-mobile/**/*~
/apps/tlon-mobile/**/.fuse_hidden*
/apps/tlon-mobile/**/.directory
/apps/tlon-mobile/**/.Trash-*
/apps/tlon-mobile/**/.nfs*
/apps/tlon-mobile/**/npm-debug.log*
/apps/tlon-mobile/**/yarn-debug.log*
/apps/tlon-mobile/**/yarn-error.log*
/apps/tlon-mobile/**/lerna-debug.log*
/apps/tlon-mobile/**/.pnpm-debug.log*
/apps/tlon-mobile/**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/apps/tlon-mobile/**/pids
/apps/tlon-mobile/**/*.pid
/apps/tlon-mobile/**/*.seed
/apps/tlon-mobile/**/*.pid.lock
/apps/tlon-mobile/**/lib-cov
/apps/tlon-mobile/**/coverage
/apps/tlon-mobile/**/*.lcov
/apps/tlon-mobile/**/.nyc_output
/apps/tlon-mobile/**/.grunt
/apps/tlon-mobile/**/.lock-wscript
/apps/tlon-mobile/build/Release
/apps/tlon-mobile/**/node_modules/
/apps/tlon-mobile/**/jspm_packages/
/apps/tlon-mobile/**/web_modules/
/apps/tlon-mobile/**/*.tsbuildinfo
/apps/tlon-mobile/**/.npm
/apps/tlon-mobile/**/.eslintcache
/apps/tlon-mobile/**/.stylelintcache
/apps/tlon-mobile/**/.rpt2_cache/
/apps/tlon-mobile/**/.rts2_cache_cjs/
/apps/tlon-mobile/**/.rts2_cache_es/
/apps/tlon-mobile/**/.rts2_cache_umd/
/apps/tlon-mobile/**/.node_repl_history
/apps/tlon-mobile/**/*.tgz
/apps/tlon-mobile/**/.yarn-integrity
/apps/tlon-mobile/**/.env
/apps/tlon-mobile/**/.env.development.local
/apps/tlon-mobile/**/.env.test.local
/apps/tlon-mobile/**/.env.production.local
/apps/tlon-mobile/**/.env.local
/apps/tlon-mobile/**/.cache
/apps/tlon-mobile/**/.parcel-cache
/apps/tlon-mobile/**/.next
/apps/tlon-mobile/**/out
/apps/tlon-mobile/**/.nuxt
/apps/tlon-mobile/**/dist
/apps/tlon-mobile/**/.cache/
/apps/tlon-mobile/.vuepress/dist
/apps/tlon-mobile/**/.temp
/apps/tlon-mobile/**/.docusaurus
/apps/tlon-mobile/**/.serverless/
/apps/tlon-mobile/**/.fusebox/
/apps/tlon-mobile/**/.dynamodb/
/apps/tlon-mobile/**/.tern-port
/apps/tlon-mobile/**/.vscode-test
/apps/tlon-mobile/.yarn/cache
/apps/tlon-mobile/.yarn/unplugged
/apps/tlon-mobile/.yarn/build-state.yml
/apps/tlon-mobile/.yarn/install-state.gz
/apps/tlon-mobile/**/.pnp.*
/apps/tlon-mobile/**/buck-out/
/apps/tlon-mobile/**/.buckconfig.local
/apps/tlon-mobile/**/.buckd/
/apps/tlon-mobile/**/.buckversion
/apps/tlon-mobile/**/.fakebuckversion
/apps/tlon-mobile/**/.gradle/
/apps/tlon-mobile/**/build/
/apps/tlon-mobile/**/local.properties
/apps/tlon-mobile/**/captures/
/apps/tlon-mobile/**/.externalNativeBuild/
/apps/tlon-mobile/**/.cxx/
/apps/tlon-mobile/**/*.apk
/apps/tlon-mobile/**/output.json
/apps/tlon-mobile/**/*.iml
/apps/tlon-mobile/**/.idea/
/apps/tlon-mobile/**/misc.xml
/apps/tlon-mobile/**/deploymentTargetDropDown.xml
/apps/tlon-mobile/**/render.experimental.xml
/apps/tlon-mobile/**/*.jks
/apps/tlon-mobile/**/*.keystore
/apps/tlon-mobile/**/*.hprof
/apps/tlon-mobile/.vscode/*
!/apps/tlon-mobile/.vscode/settings.json
!/apps/tlon-mobile/.vscode/tasks.json
!/apps/tlon-mobile/.vscode/launch.json
!/apps/tlon-mobile/.vscode/extensions.json
!/apps/tlon-mobile/.vscode/*.code-snippets
/apps/tlon-mobile/**/.history/
/apps/tlon-mobile/**/*.vsix
/apps/tlon-mobile/**/.history
/apps/tlon-mobile/**/.ionide
/apps/tlon-mobile/**/.env.local
/apps/tlon-mobile/**/sentry.properties
# From apps/tlon-mobile/.prettierignore
/apps/tlon-mobile/**/.github/
/apps/tlon-mobile/**/Pods/
/apps/tlon-mobile/**/*.xcassets/
# From apps/tlon-mobile/android/.gitignore
/apps/tlon-mobile/android/**/.DS_Store
/apps/tlon-mobile/android/**/build/
/apps/tlon-mobile/android/**/.idea
/apps/tlon-mobile/android/**/.gradle
/apps/tlon-mobile/android/**/local.properties
/apps/tlon-mobile/android/**/*.iml
/apps/tlon-mobile/android/**/*.hprof
/apps/tlon-mobile/android/**/.cxx/
/apps/tlon-mobile/android/**/*.jsbundle
# From apps/tlon-mobile/ios/.gitignore
/apps/tlon-mobile/ios/**/.DS_Store
/apps/tlon-mobile/ios/**/build/
/apps/tlon-mobile/ios/**/*.pbxuser
!/apps/tlon-mobile/ios/**/default.pbxuser
/apps/tlon-mobile/ios/**/*.mode1v3
!/apps/tlon-mobile/ios/**/default.mode1v3
/apps/tlon-mobile/ios/**/*.mode2v3
!/apps/tlon-mobile/ios/**/default.mode2v3
/apps/tlon-mobile/ios/**/*.perspectivev3
!/apps/tlon-mobile/ios/**/default.perspectivev3
/apps/tlon-mobile/ios/**/xcuserdata
/apps/tlon-mobile/ios/**/*.xccheckout
/apps/tlon-mobile/ios/**/*.moved-aside
/apps/tlon-mobile/ios/**/DerivedData
/apps/tlon-mobile/ios/**/*.hmap
/apps/tlon-mobile/ios/**/*.ipa
/apps/tlon-mobile/ios/**/*.xcuserstate
/apps/tlon-mobile/ios/**/project.xcworkspace
/apps/tlon-mobile/ios/**/.xcode.env.local
/apps/tlon-mobile/ios/**/*.jsbundle
/apps/tlon-mobile/ios/Pods/
# From apps/tlon-web/.gitignore
/apps/tlon-web/**/node_modules
/apps/tlon-web/**/.DS_Store
/apps/tlon-web/**/dist
/apps/tlon-web/**/dev-dist
/apps/tlon-web/**/dist-ssr
/apps/tlon-web/**/*.local
/apps/tlon-web/**/stats.html
/apps/tlon-web/**/.eslintcache
/apps/tlon-web/**/.vercel
/apps/tlon-web/**/.tamagui
/apps/tlon-web/test-results/
/apps/tlon-web/playwright-report/
/apps/tlon-web/playwright/.cache/
/apps/tlon-web/e2e/.auth/
/apps/tlon-web/**/.env.test
/apps/tlon-web/**/merge.config.js
# From packages/api/.gitignore
/packages/api/**/dist/
# From packages/app/.gitignore
/packages/app/**/node_modules/
/packages/app/**/.DS_Store
# From packages/editor/.gitignore
/packages/editor/**/dist
/packages/editor/**/dist-notebook
# From packages/scripts/.gitignore
/packages/scripts/**/build
# From packages/shared/.gitignore
/packages/shared/**/dist/
/packages/shared/**/tsconfig.tsbuildinfo
/packages/shared/**/.env.test
# From packages/shared/.prettierignore
/packages/shared/src/db/migrations
# From packages/ui/.gitignore
/packages/ui/**/dist/
