<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver
        android:name=".DebugBgSyncReceiver"
        android:exported="true">
      <intent-filter>
        <action android:name="io.tlon.landscape.DEBUG_BG_SYNC"/>
      </intent-filter>
    </receiver>
  </application>
</manifest>
