<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnjh8qXbZkuM_Bh1-tkP46FA-y2Uai7pc</string>
	<key>GCM_SENDER_ID</key>
	<string>543296749236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.tlon.groups</string>
	<key>PROJECT_ID</key>
	<string>tlon-groups-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>tlon-groups-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543296749236:ios:aec1ebb1ed8b2ef73e21e1</string>
</dict>
</plist>