$header-height: 80px;
$footer-height: 80px;
$sidebar-width: 120px;

div#layout {
  display: grid;
  grid-template-areas:
  "header header"
  "sidebar main"
  "footer footer";
  grid-template-columns: minmax(min-content, $sidebar-width) auto; /** collapsible sidebar, main content */
  grid-template-rows: minmax(max-content, $header-height) auto minmax(max-content, $footer-height); /** collapsible header, auto main, collapsible footer */
  
  div#sidebar {
    grid-area: sidebar;
  }

  div#header {
    grid-area: header;
  }

  div#footer {
    grid-area: footer;

  }

  div#main {
    grid-area: main;
  }
}
