@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('../assets/Inter-roman.var.woff2?v=3.13') format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('../assets/Inter-italic.var.woff2?v=3.13') format('woff2');
}
@font-face {
  font-family: 'Source Code Pro';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url('../assets/SourceCodePro-VariableFont_wght-subset.woff2')
    format('woff2');
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--colors-gray-200)) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border: solid 2px rgb(var(--colors-white));
}

*::-webkit-scrollbar-thumb {
  background: rgb(var(--colors-gray-200));
  border: solid 2px rgb(var(--colors-white));
  border-radius: 20px;
}

html,
body,
#app {
  /* adding for mobile bottom bars */
  @apply h-full min-h-screen w-full;
  min-height: -webkit-fill-available;
}

@media all and (display-mode: standalone) {
  body {
    padding-bottom: 2rem;
  }
  .mobile-bottom-nav {
    padding-bottom: 2rem;
  }
}

blockquote {
  @apply block border-l-2 border-gray-100 pl-3 text-gray-600;
}

a:not([class]) {
  @apply underline;
}

::selection {
  @apply bg-gray-100;
}

.alt-highlight::selection {
  @apply bg-white;
}

/* Ensures text selection is visible on dark mode desktop safari */
_::-webkit-full-page-media,
_:future,
:root .safari_only,
body.dark ::selection {
  @apply bg-gray-800;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: initial;
}

iframe {
  @apply max-w-full;
}
