/**
* See: https://tailwindcss.com/docs/using-with-preprocessors#using-post-css-as-your-preprocessor=
*/
@import 'tailwindcss/base';
@import './base';

@import 'tailwindcss/components';
@import './components';
@import '../components/Layout/Layout.css';

@import 'tailwindcss/utilities';

@import './utilities.css';

@import 'prismjs/themes/prism-tomorrow.min.css';

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/Inter-Regular.woff2?v=3.19') format('woff2'),
    url('../assets/fonts/Inter-Regular.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/Inter-Italic.woff2?v=3.19') format('woff2'),
    url('../assets/fonts/Inter-Italic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/Inter-Medium.woff2?v=3.19') format('woff2'),
    url('../assets/fonts/Inter-Medium.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/Inter-MediumItalic.woff2?v=3.19') format('woff2'),
    url('../assets/fonts/Inter-MediumItalic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/Inter-SemiBold.woff2?v=3.19') format('woff2'),
    url('../assets/fonts/Inter-SemiBold.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/Inter-SemiBoldItalic.woff2?v=3.19') format('woff2'),
    url('../assets/fonts/Inter-SemiBoldItalic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/Inter-Bold.woff2?v=3.19') format('woff2'),
    url('../assets/fonts/Inter-Bold.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/Inter-BoldItalic.woff2?v=3.19') format('woff2'),
    url('../assets/fonts/Inter-BoldItalic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../assets/fonts/Inter-ExtraBold.woff2?v=3.19') format('woff2'),
    url('../assets/fonts/Inter-ExtraBold.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('../assets/fonts/Inter-ExtraBoldItalic.woff2?v=3.19') format('woff2'),
    url('../assets/fonts/Inter-ExtraBoldItalic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/source-code-pro.woff2') format('woff2');
}
