.default-focus {
  @apply ring-gray-200 ring-offset-2 ring-offset-white focus:outline-none focus-visible:ring-2;
}

/* Useful for showing selections programmatically */
.default-focus-on {
  @apply outline-none ring-2;
}

.active {
  @apply bg-gray-50;
}

.bottom-shadow {
  box-shadow: 0px 8px 5px -5px rgba(0, 0, 0, 0.1);
}

a[aria-disabled='true'] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.hide-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.wrap-anywhere {
  overflow-wrap: anywhere;
}

.height-transition {
  @apply transition-all duration-300 ease-in-out;
}
