.default-focus {
  @apply ring-gray-200 ring-offset-2 ring-offset-white focus:outline-none focus:ring-2;
}

/* Useful for showing selections programmatically */
.default-focus-on {
  @apply outline-none ring-2;
}

.active {
  @apply bg-gray-50;
}

a[aria-disabled='true'] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
