name: Push Tlon Mobile Update
on:
  workflow_dispatch:
    inputs:
      profile:
        type: choice
        description: Select profile
        options:
          - preview
          - production
      platform:
        type: choice
        description: Select platform
        options:
          - all
          - android
          - ios
      message:
        type: string
        description: Brief description of what this update contains
        required: true
jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Push mobile updates
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
      - name: Set up Expo and EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}
      - name: Setup PNPM
        uses: pnpm/action-setup@v3
        with:
          run_install: |
            - recursive: true
              args: [--frozen-lockfile]
      - name: Build packages
        run: pnpm build:all
      - name: Push update for selected platforms
        working-directory: ./apps/tlon-mobile
        run:
          eas update --channel ${{ inputs.profile }} --platform ${{
          inputs.platform || 'all' }} --message '${{ inputs.message }}'
          --non-interactive
        env:
          APP_VARIANT: ${{ inputs.profile }}
          BRANCH_DOMAIN_PROD: ${{ secrets.BRANCH_DOMAIN_PROD }}
          BRANCH_DOMAIN_TEST: ${{ secrets.BRANCH_DOMAIN_TEST }}
          BRANCH_KEY_PROD: ${{ secrets.BRANCH_KEY_PROD }}
          BRANCH_KEY_TEST: ${{ secrets.BRANCH_KEY_TEST }}
          POST_HOG_API_KEY_TEST: ${{ secrets.POST_HOG_API_KEY_TEST }}
          POST_HOG_API_KEY_PROD: ${{ secrets.POST_HOG_API_KEY_PROD }}
          RECAPTCHA_SITE_KEY_ANDROID: ${{ secrets.RECAPTCHA_SITE_KEY_ANDROID }}
          RECAPTCHA_SITE_KEY_IOS: ${{ secrets.RECAPTCHA_SITE_KEY_IOS }}
          TLON_EMPLOYEE_GROUP: ${{ secrets.TLON_EMPLOYEE_GROUP }}
          INVITE_SERVICE_ENDPOINT: ${{ secrets.INVITE_SERVICE_ENDPOINT }}
          OPENROUTER_API_KEY: ${{ secrets.OPENROUTER_API_KEY }}
